@{
    ViewBag.Title = "Error";
}

<div class="box">
    <div class="row">
        <h2 class="title text-primary-color center-block">Somthing just went wrong!</h2>
    </div>
    <div class="row text-center">
        <h3>An error occurred while processing your request.</h3>
    </div>
</div>